.card {
  align-items: center;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin: auto;
  transition: 0.7s;
  width: 50%;
}

.card:hover {
  background-color: white;
}

.card h1 {
  font-size: 35px;
  margin-bottom: 15px;
}

.card h2, h3, h4 {
  font-size: 20px;
}

.card h3 {
  margin-top: 15px;
}

.alternative-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 30px;
}
