header {
  align-items: center;
  background-color: white;

  /* background-color: black; */

  /* border-bottom: 1px solid rgba(255, 255, 255, 0.6); */
  border-bottom: 1px solid rgba(0, 0, 0, 0.6);
  color: white;
  display: flex;
  font-family: monospace;
  justify-content: space-around;
}

header div {
  align-items: center;
  display: flex;
}

header div img {
  border-radius: 50%;
  box-shadow: 0 13px 19px -10px rgba(0, 0, 0, 0.75);

  /* box-shadow: 0 13px 19px -10px rgba(255, 255, 255, 0.3); */
  margin: 10px 20px;
  width: 70px;
}

header p {
  background: linear-gradient(100deg, #41197f 9%, #006dfb 44%, #2fc18c 70%, #036b52 91%);
  background-clip: text;
  color: transparent;
  font-size: 30px;
  text-shadow: 0 0 90px rgba(0, 0, 0, 0.99) , 0 0 32px rgba(0, 0, 0, 0.99);

  /* text-shadow: 0 0 90px rgba(170, 170, 170, 0.99) ,
  0 0 32px rgba(255, 255, 255, 0.5); */
}

.score-points {
  margin-bottom: 1px solid white;
}

.highlightedText {
  font-weight: 600;
}
